body.page-fullscreen-gallery a,
body.page-fullscreen-gallery a:hover,
body.page-fullscreen-gallery a:active,
body.page-fullscreen-gallery a:focus {
  outline: 0;
}
body.page-fullscreen-gallery #toolbar,
body.page-fullscreen-gallery #admin-menu {
  display: none;
}
body.page-fullscreen-gallery.toolbar ,
body.page-fullscreen-gallery.admin-menu {
  margin-top: 0px !important;
  padding-top: 0px !important;
  background: #f6f6f6 none;
}
body.page-fullscreen-gallery div.region-content .content {
  margin: 0px;
}
#page_fullscreen_gallery .content {
  margin: 0;
}
#fullscreen_gallery {
  background: #f6f6f6 none;
}
#fullscreen_gallery div.inner {
  width: 100%;
  margin: 0px auto;
}
#fullscreen_gallery div.gallery-top {
  height: 70px;
}
#fullscreen_gallery div.gallery-top div.inner {
  background-color: #2e2e2e;
  height: 70px;
}
#fullscreen_gallery div.gallery-top div.gallery-title {
  float: left;
  width: 100%;
}
#fullscreen_gallery div.gallery-top div.gallery-title div.ginner {
  margin: 0;
}
#fullscreen_gallery div.gallery-top div.counter {
  float: left;
  position: absolute;
}
#fullscreen_gallery div.gallery-top div.back-button {
  float: left;
}
#fullscreen_gallery div.gallery-top div.gallery-title div.ginner {
  margin-left: 85px;
}
#fullscreen_gallery div.gallery-top div.counter {
  width: 85px;
}
#fullscreen_gallery div.gallery-top div.gallery-title div.ginner {
  margin-right: 85px;
  padding: 0px 30px;
}
#fullscreen_gallery div.gallery-top div.back-button {
  margin-left: -85px;
  width: 85px;
}
#fullscreen_gallery div.gallery-top div.counter {
  background-color: #666666;
  color: #ffffff;
  font-family: arial;
  font-size: 23px;
  height: 70px;
  line-height: 70px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px 0 #000000;
}
#fullscreen_gallery div.gallery-top h2 {
  padding: 28px 20px 0px 20px;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  margin: 0px;
  text-shadow: 1px 1px 0px #000;
}
#fullscreen_gallery div.gallery-top div.thumbnails {
  padding: 5px 0px 0px 0px;
  margin: 0px auto;
  width: 700px;
  overflow: hidden;
}
#fullscreen_gallery div.gallery-top div.thumbnails-inner {
  float: left;
  width: 650px;
}
#fullscreen_gallery div.gallery-top div.thumbnails-images {
  width: 20000px;
}
#fullscreen_gallery div.gallery-top div.thumbnails div.thumbnail-item {
  float: left;
  padding: 0px 2px;
}
#fullscreen_gallery div.gallery-top div.thumbnails div.left,
#fullscreen_gallery div.gallery-top div.thumbnails div.right {
  float: left;
  height: 60px;
  position: relative;
  z-index: 4;
  width: 25px;
}
#fullscreen_gallery div.gallery-top div.thumbnails div.left a,
#fullscreen_gallery div.gallery-top div.thumbnails div.right a {
  text-align: center;
  text-decoration: none;
  height: 60px;
  display: block;
  width: 25px;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/thumbs-left.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#fullscreen_gallery div.gallery-top div.thumbnails div.right a {
  background: url("../images/thumbs-right.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#fullscreen_gallery div.gallery-top div.thumbnails div.left.inactive a {
  background: url("../images/thumbs-left-inactive.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  cursor: default;
}
#fullscreen_gallery div.gallery-top div.thumbnails div.right.inactive a {
  background: url("../images/thumbs-right-inactive.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  cursor: default;
}
#fullscreen_gallery div.gallery-top div.thumbnails div.thumbnail-item img {
  display: block;
  padding: 1px;
  background-color: #666;
  border: 1px solid #000;
}
#fullscreen_gallery div.gallery-top div.thumbnails div.thumbnail-item.active img {
  border: 1px solid #fff;
}
#fullscreen_gallery div.gallery-top div.thumbnails div.thumbnail-item a:hover img {
  border: 1px solid #666;
}
#fullscreen_gallery div.gallery-top div.thumbnails div.thumbnail-item.active a:hover img {
  cursor: default;
  border: 1px solid #fff;
}
#fullscreen_gallery div.gallery-top a.back-link {
  background: url("../images/exit.png") no-repeat scroll right top rgba(0, 0, 0, 0);
  display: block;
  float: right;
  height: 47px;
  margin: 11px 9px 0;
  width: 47px;
  overflow: hidden;
  text-indent: -999px;
  background-size: 100%;
}
#fullscreen_gallery div.gallery-content {
  padding: 10px 0px;
}
#fullscreen_gallery div.gallery-left {
  float: left;
  width: 100%;
}
#fullscreen_gallery div.gallery-left div.main-content {
  margin-right: 386px;
  padding: 0px 10px;
}
#fullscreen_gallery div.gallery-right {
  float: right;
  margin-left: -386px;
  width: 386px;
  text-align: center;
  background: transparent url('../images/dotted-border-bg.png') repeat-y top left;
}
#fullscreen_gallery div.gallery-left div.current-image {
  width: 100%;
}
#fullscreen_gallery div.gallery-left div.current-image div.image-title {
  overflow: hidden;
  padding: 5px 10px 8px 10px;
  line-height: 16px;
  margin-bottom: 10px;
  margin-top: 0px;
}
#fullscreen_gallery div.gallery-left div.current-image div.image-title h1{
  font-size: 13px;
  margin:0;
  padding:0;
}

#fullscreen_gallery div.gallery-left div.current-image div.cinner {
  margin: 0px auto;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}
#fullscreen_gallery div.gallery-left div.current-image div.cinner img {
  border-radius: 10px 10px 0px 0px;
}
#fullscreen_gallery div.gallery-left div.current-image div.no-title img {
  border-radius: 10px;
}
#fullscreen_gallery div.gallery-left div.nav {
  position: absolute;
  z-index: 2;
  width: 100%;
}
#fullscreen_gallery div.gallery-left div.prev-button {
  float: left;
}
#fullscreen_gallery div.gallery-left div.next-button {
  float: right;
}
#fullscreen_gallery div.gallery-left div.prev-button a {
  display: block;
  display: none;
  /*margin-top: 100px;*/
  width: 40px;
  height: 40px;
  background: transparent url('../images/prev.png') no-repeat left center;
  text-indent: -9990px;
  overflow: hidden;
}
#fullscreen_gallery div.gallery-left div.next-button a {
  outline: hidden;
  display: block;
  display: none;
  width: 40px;
  height: 40px;
  background: transparent url('../images/next.png') no-repeat right center;
  text-indent: -9999px;
  overflow: hidden;
}
#fullscreen_gallery div.gallery-left div.prev-button a:hover {
  background-image: url('../images/prev-h.png');
}
#fullscreen_gallery div.gallery-left div.next-button a:hover {
  background-image: url('../images/next-h.png');
}
#fullscreen_gallery div.gallery-left div.prev-button a.inactive,
#fullscreen_gallery div.gallery-left div.next-button a.inactive {
  display: none;
}
#fullscreen_gallery div.gallery-left div.current-image div.img-container {
  overflow: hidden;
}
#fullscreen_gallery div.gallery-left div.current-image img {
  width: 100%;
  display: none;
  height: auto;
}
#fullscreen_gallery #fs_loading {
  display: none;
  background: transparent url('../images/loading2.gif') no-repeat top left;
  width: 150px;
  height: 150px;
  position: absolute;
  margin: 0;
}
#fullscreen_gallery.no-gallery #fs_loading,
#fullscreen_gallery.no-gallery div.thumbnails div.right,
#fullscreen_gallery.no-gallery div.thumbnails div.left,
#fullscreen_gallery.no-gallery div.counter {
  display: none !important;
}

/* Media querys for gallery header size on smaller devices */
@media all and (max-width: 768px) {
  #fullscreen_gallery div.gallery-top div.counter {
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    width: 60px;
  }
  #fullscreen_gallery div.gallery-top div.inner,
  #fullscreen_gallery div.gallery-top {
    height: 60px;
  }
  #fullscreen_gallery div.gallery-top div.back-button {
    margin-left: -60px;
    width: 60px;
  }
  #fullscreen_gallery div.gallery-top a.back-link {
    height: 44px;
    margin: 8px 8px 0;
    width: 44px;
  }
  #fullscreen_gallery div.gallery-top div.gallery-title div.ginner {
    margin-left: 60px;
    margin-right: 60px;
    padding: 0px 20px;
  }
  #fullscreen_gallery div.gallery-top div.thumbnails div.thumbnail-item img {
    max-height: 46px;
  }
  #fullscreen_gallery div.gallery-top div.thumbnails div.left,
  #fullscreen_gallery div.gallery-top div.thumbnails div.right,
  #fullscreen_gallery div.gallery-top div.thumbnails div.left a,
  #fullscreen_gallery div.gallery-top div.thumbnails div.right a {
    height: 50px;
  }
  #fullscreen_gallery div.gallery-top div.thumbnails div.left a,
  #fullscreen_gallery div.gallery-top div.thumbnails div.right a {
    width: 25px;
  }
}

@media all and (max-width: 480px) {
  #fullscreen_gallery div.gallery-top div.counter {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    width: 45px;
  }
  #fullscreen_gallery div.gallery-top div.inner,
  #fullscreen_gallery div.gallery-top {
    height: 45px;
  }
  #fullscreen_gallery div.gallery-top a.back-link {
    height: 37px;
    margin: 7px 8px 0;
    width: 31px;
  }
  #fullscreen_gallery div.gallery-top div.gallery-title div.ginner {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0px 20px;
  }
  #fullscreen_gallery div.gallery-top div.thumbnails div.thumbnail-item img {
    max-height: 30px;
  }
  #fullscreen_gallery div.gallery-top div.thumbnails div.left,
  #fullscreen_gallery div.gallery-top div.thumbnails div.right,
  #fullscreen_gallery div.gallery-top div.thumbnails div.left a,
  #fullscreen_gallery div.gallery-top div.thumbnails div.right a {
    height: 34px;
  }
  #fullscreen_gallery div.gallery-top div.thumbnails div.left a,
  #fullscreen_gallery div.gallery-top div.thumbnails div.right a {
    width: 25px;
  }
}
